@{
    ViewData["Title"] = "Upload Files";
}

<div class="container d-flex justify-content-center align-items-start min-vh-100 pt-5">
    <div class="card p-4 shadow-lg w-50">
        <h4 class="text-center mb-4">Upload System Config Excel File</h4>
        <br>

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-info text-center">
                @ViewBag.Message
            </div>
        }

        <form asp-action="Configureation" asp-controller="Schedules" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="file" class="form-control" id="file1" name="files">
            </div>
            <br>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
</div>

<script>
    setTimeout(() => {
        document.querySelector(".alert")?.classList.add("fade", "show");
        setTimeout(() => document.querySelector(".alert")?.remove(), 2000);
    }, 3000);
</script>