@model ResetPasswordVM
@{
    ViewBag.Title = "Reset Password";
    Layout = "_Layout";
}

<div style="padding:10px; text-align: center">
    <h2>@Model.Name</h2>
</div>
<div style="max-width: 500px; margin:auto">
    <form asp-action="ResetPassword">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control shadow-sm" readonly="readonly" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control shadow-sm" readonly="readonly" />
        </div>
        <div class="form-group">
            <label asp-for="Password1">New Password</label>
            <input asp-for="Password1" type="password" class="form-control shadow-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Password2">Confirm New Password</label>
            <input asp-for="Password2" type="password" class="form-control shadow-sm" />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group" style="text-align:center; width:50%; margin: auto; float:left">
            <button class="btn btn-primary" type="submit" style="width: 100px"> Submit </button>
        </div>        
        <div class="form-group" style="text-align:center; width:50%; margin: auto; float:right">
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary" style="width: 100px"> Cancel </a>
        </div>
    </form>
</div>
