@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 50px; 
    background-color: #f8f9fa;
}

.btn {
    min-width: 75px;
    max-width: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

div {
    padding: 5px;
}

a {
    text-decoration: none;
    color: blue;
    padding: 0 5px;
}

    a:hover {
        color: dodgerblue;
    }

.loginbox {
    padding: 35px;
    max-width: 500px;
    margin: auto;
    border: solid 1px lightgray;
    border-radius: 5px;
    background-color: #fdfdfd;
    box-shadow: 1px 1px 5px #f1f1f1;
}

.leftDiv {
    width: 40%;
    padding: 0;
    margin: auto;
    float: left;
}

.rightDiv {
    width: 60%;
    padding: 0;
    margin: auto;
    float: right;
}

/* image uploading */

.imagePreview {
    min-width: 150px;
    min-height: 150px;
    background-position: center center;
    /*background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);*/
    background: url('../images/noimg.png');
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
}

.btn-info {
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top: -5px;
    background-color: khaki cadetblue;
    max-width: 150px
}

.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}
